@import "../../style/utils";

.radarChart_perf {
  @include resetMargin;
  background-color: #282d30;
  width: 32%;
  height: 263px;
  border-radius: 10px;
  color: white;
  @include responsiveDesktop {
    height: 200px;
  }
}
